.popup__container{
	position: relative;
	display: flex;
	background-color:white;
	width: 430px;
	height: 330px;
	border-radius: 10px;
	color: #000;
	flex-direction: column;
}

@media screen and (max-width: 585px){
	.popup__container{
		width: 282px;
		height: 322px;
}
}