.profile__button-add{
	position: relative;
	align-self: baseline;
	background: #000;
	padding: 0;
	border: none;
	margin-top: 40px;
}

.profile__button-add:hover{
cursor: pointer;
}

@media screen and (max-width: 900px){
	.profile__button-add{
		width: 282px;
		margin: 16px auto 0;
	}
}