.profile__button {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background: none;
	border: none;
	cursor: pointer;
	

}

.profile__button:hover {
	background:
	url('../../../images/avatarbutton.svg')
	center
	no-repeat
	rgba(0, 0, 0, .9);
	
}