.profile__button_add{
	align-self: baseline;
	background: #000;
	padding: 0;
	border: none;
	margin-top: 35px;
	position: absolute;
	right: 0;
	
}

.profile__button_add:hover{
cursor: pointer;
}

@media screen and (max-width: 900px){
	.profile__button_add{
		position: relative;
		width: 282px;
		margin: 0 auto;
	}
}