.popup__close{
	background: url(../../../images/CloseIcon.svg);
	background-size: cover;
	border: none;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	position: absolute;
	right: -35px;
	top: -45px;
	padding: 0;
	cursor: pointer;
}

.popup__close:hover{
	background: url(../../../images/CloseIconblack.svg);
	background-size: cover;
}

@media screen and (max-width: 585px){
	.popup__close{
		right: -10px;
		top: -45px;
	}
}