.header{
	position: relative;
	top: 45px;
	border-bottom: 1px solid;
	border-bottom-color: rgba(84, 84, 84, 0.7);
	height: 74px;

}

@media screen and (max-width: 900px){
	.header{
		top: 28px;
		height: 54px;
	}
}